
    <%= simple_form_for(@user) do |f| %>
      <%= f.error_notification %>
      <%= render 'shared/error_messages' %>

      <div class="form-inputs">
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
      </div>

        <%= f.submit "Create my Account", class: "btn btn-large btn-primary" %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    users_path, :class => 'btn' %>
        <p>Already a <%= link_to 'User?', home_path %>
    <% end %>
