<div class="row">
  <div class="span3">&nbsp;</div>
  <div class="span6">
      <h1>Editing user</h1>

      <%= simple_form_for(@user, :html => { :multipart => true }) do |f| %>
        <%= f.error_notification %>
        <%= render 'shared/error_messages' %>
        <%= link_to 'Manage Credit Cards' %><br />
        <%= link_to 'Server Code', servercode_user_path(@user) %>
        <div class="form-horizontal">
          <%= gravatar_for @user %>
          <%= f.label :upload_new_photo? %>
          <%= f.hidden_field :photo_cache %>
          <%= f.file_field :photo %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :handle %>
          <%= f.input :email %>
          <%= f.input :address %>
          <%= f.input :address_2 %>
          <%= f.input :city %>
          <%= f.input :state %>
          <%= f.input :zip %>
          <%= f.input :phone %>
        </div>
        <div class="borderBox">
          <%= f.submit "Update Account", :class => "btn" %>
          <%= link_to "Cancel", user_path(@user), :class => 'btn' %>
        </div>
      <% end %>
  </div>
  <div class="span3"></div>
</div>