<h1>Enter Customer Redeem Code</h1>

<%= simple_form_for @order do |f| %>
  <%= f.error_notification %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@order.errors.count, "error") %>.
      </div>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <%= f.input :redeem_code, :input_html => { :maxlength => 4 } %>
  </div>
    <%= f.submit "Submit", :class => "btn" %>
<% end %>