<table>
  <tr>
    <th><%= link_to "Active Orders", orders_merchant_path(@provider) %> </th>
    <th colspan="2">To</th>
    <th colspan="2">Drink</th>
    <th>Message</th>
    <th>Redeem Date</th>
    <th colspan="2">From</th>
  </tr>

<% @gifts.each do |gift| %>
  <tr>
    <td><%= button_to "Details", detail_merchant_path(gift), method: :get %></td>
    <td colspan="2">
      <%= list_icon_with_id_for gift.receiver_id %>
      <%= gift.receiver_name %>
    </td>
    <td colspan="2">
      <%= image_tag get_category_image(gift), {:class => 'iconListView'} %>
      <%= gift.quantity %>&nbsp;<%= gift.item_name %>
    </td>
    <td><%= gift.message %></td>
    <td><%= time_ago_in_words(gift.order.created_at) %>&nbsp;ago</td>
    <td colspan="2">
      <%= list_icon_with_id_for gift.giver_id %>
      <%= gift.giver_name %>
    </td>
  </tr>
<% end %>
</table>