<p id="notice"><%= notice %></p>

<p>
  <b>Item name:</b>
  <%= @item.item_name %>
</p>

<p>
  <b>Detail:</b>
  <%= @item.detail %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
